#app.flex.justify-center
  .flex.flex-col
    = @image.attributes

    %a.underline{ e_click: "hi"}
      {{Back}}
    %div{ r_class: 21 }
:opal
  class Clicker < VueR::Application

  end

  kanta = Clicker.new(bg: 'bg-cyan-200')
  puts kanta.bg
  kanta.bg = "bg-cyan"
  puts kanta.bg
  kanta.mount("#app")
