#app
  .flex.justify-center
    = @image.attributes

  .flex.justify-center
    %a.underline{ e_click: "hi"}
      {{ bg }}
    %div{ r_class: 21 }
:opal
  class Clicker < VueR::Application

  end

  kanta = Clicker.new(bg: 'bg-cyan-200')
  kanta.mount("#app")
