#app
  .flex.justify-center
    = #@image.attributes

  .flex.justify-center
    %a.underline{ e_click: "hi" , r_class: 'bg'}
      {{ bg }}
:opal
  class Clicker < VueR::Application

  end

  kanta = Clicker.new(bg: 'bg-cyan-200')
  kanta.mount("#app")
