#app
  .flex.justify-center
    = #@image.attributes

  .flex.justify-center
    %a.underline{ e_click: "bg_change" , r_class: 'bg'}
      {{ bg }}
:opal
  class Clicker < VueR::Application
    def bg_change
      self.bg = "bg-cyan-50"
    end
  end

  kanta = Clicker.new(bg: 'bg-cyan-200')
  kanta.mount("#app")
