%section.p-20.my-20
  .flex.justify-center
    .max-w-prose.text-center
      %h1.mb-10.text-2xl.font-bold.tracking-tight.sm:text-4xl
        = story.header
      .text-xl.pb-6{ prose_classes }
        = distance_of_time_in_words_to_now story.happened
        ago
  .max-w-full.mt-4.gap-16.columns-1.md:columns-2.lg:columns-3.xl:columns-4{ prose_classes  }
    = image_for( story , "h-56 w-full object-cover sm:h-full")
    = markdown(story.text)
