.group.h-96.items-end.relative.overflow-hidden
  = image_for( picture , "inset-0 h-full w-full object-fit hover:scale-110 ease-in duration-700")
  -unless picture.text.blank?
    .absolute.mb-10.p-2.tracking-widest.text-left.text-black{class: "max-w-2/3"}
      %div.transition-colors.group-hover:bg-black.group-hover:text-white.text-left.bg-gray-100
        .m-1.p-1.text-xs
          = picture.text
          = picture.text
  %div.bg-cyan-200
    %div Torsten
    %div some date
